# dependencies
node_modules

# nextjs
.next
out

# environment files
.env
backend/.env

# python
venv
backend/venv
__pycache__

# logs
npm-debug.log*
yarn-debug.log*

# build
dist
build

# vscode
.vscode

# misc
.DS_Store